/* Global */
.min-vh-70 {
  min-height: 70vh !important;
}

.table-border-bottom {
  th,
  td {
    border-bottom: 1.5px solid gray !important;
  }
}

input[type='text']:focus {
  outline: none;
}

/* Anggota */
.anggota-form-search {
  width: 20vw !important;
  min-width: 18rem !important;
}

.anggota-search-icon-box {
  border: 1px solid #387df5;
  border-right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.anggota-form-pencarian {
  border: 1px solid #387df5;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.3rem 0.85rem;
}

.anggota-btn-cari {
  background-color: #387df5;
  color: white;
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0 0.5rem 0.5rem 0;
}

.anggota-tambah-anggota-box {
  background-color: #00b290;
  color: white;
  border-radius: 1.5rem;
  width: 12rem;
}

.table-responsive.anggota > table {
  font-size: 2vw;
}

.anggota-action-btn {
  width: 5vw;
}

/* Anggota Tambah */
form.anggota-tambah label,
form.anggota-edit label {
  color: #555555;
  margin-top: 2vh;
}

form.anggota-tambah label.form-check-label,
form.anggota-edit label.form-check-label {
  margin-top: 0;
}

.anggota-btn-batal {
  background-color: #9b9b9b;
  color: black;
  font-weight: 600;
}

.anggota-btn-simpan {
  background-color: #4cb6f3;
  color: white;
  font-weight: 600;
}

/* Anggota Detail */
.btn-tutup {
  font-size: 3vw;
  width: 25vw;
  background-color: #4cb6f3;
  color: white;
}

h4.anggota-detail {
  background-color: #cde3e6;
  height: 4vh;
  font-size: 2.3vw;
}

@media (min-width: 576px) {
  .table-responsive.anggota > table {
    font-size: 1.6vw;
  }

  .anggota-action-btn {
    width: 3vw;
  }

  h4.anggota-detail {
    height: 6vh;
    font-size: 2vw;
  }

  .btn-tutup {
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .table-responsive.anggota > table {
    font-size: 1.4vw;
  }

  .anggota-action-btn {
    width: 2.6vw;
  }

  h4.anggota-detail {
    height: 6vh;
    font-size: 1.8vw;
  }

  .btn-tutup {
    width: 17vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 992px) {
  .table-responsive.anggota > table {
    font-size: 1.3vw;
  }

  .anggota-action-btn {
    width: 2.9vw;
  }

  h4.anggota-detail {
    font-size: 1.5vw;
  }

  .btn-tutup {
    width: 15vw;
    font-size: 1.7vw;
  }
}
