.min-vh-70 {
  min-height: 70vh !important;
}

.bib-form-search {
  width: 20vw !important;
  min-width: 18rem !important;
}

.bib-search-icon-box {
  border: 1px solid #387df5;
  border-right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.bib-form-pencarian {
  border: 1px solid #387df5;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.3rem 0.85rem;
}

.bib-btn-cari {
  background-color: #387df5;
  color: white;
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0 0.5rem 0.5rem 0;
}

.tambah-buku-box {
  background-color: #00b290;
  color: white;
  border-radius: 1.5rem;
  width: 12rem;
}

input[type='text']:focus {
  outline: none;
}

.table-border-bottom {
  th,
  td {
    border-bottom: 1.5px solid gray !important;
  }
}

.biblio-table tr th {
  font-size: 1.9vw;
}

.biblio-table tr td {
  font-size: 1.7vw;
}

.biblio-table th[scope='tahun-terbit'] {
  width: 21%;
}

.biblio-action-btn {
  width: 4vw;
}

.btn-tutup {
  font-size: 3vw;
  width: 25vw;
  background-color: #4cb6f3;
  color: white;
}

.btn-simpan {
  background-color: #4cb6f3;
  color: white;
}

.judul-aksi {
  font-size: 2.5vw;
  font-weight: 600;
}

.sub-judul-aksi {
  font-size: 2.2vw;
  font-weight: 600;
}

label {
  color: #555555;
  font-size: 2vw;
  margin-top: 2vh;
}

.form-check-label {
  margin-top: 0;
}

textarea {
  min-height: 100px !important;
}

.biblio-detail-table tr:nth-child(odd) {
  background-color: white;
}

.biblio-detail-table tr:nth-child(even) {
  background-color: #fbfbfb;
}

@media (min-width: 576px) {
  .biblio-action-btn {
    width: 3vw;
  }

  .btn-tutup {
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .biblio-table tr th {
    font-size: 1.5vw;
  }

  .biblio-table tr td {
    font-size: 1.3vw;
  }

  .biblio-table th[scope='tahun-terbit'] {
    width: 19%;
  }

  .biblio-action-btn {
    width: 2.6vw;
  }

  label {
    font-size: 1.1vw;
  }

  .judul-aksi {
    font-size: 1.7vw;
  }

  .sub-judul-aksi {
    font-size: 1.3vw;
  }

  .btn-tutup {
    width: 17vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 992px) {
  .biblio-table tr th {
    font-size: 1.3vw;
  }

  .biblio-table tr td {
    font-size: 1.1vw;
  }

  .biblio-action-btn {
    width: 2.9vw;
  }

  .btn-tutup {
    width: 15vw;
    font-size: 1.7vw;
  }
}
