.min-vh-70 {
  min-height: 70vh !important;
}

.ri-pe-form-search {
  width: 20vw !important;
  min-width: 18rem !important;
}

.ri-pe-search-icon-box {
  border: 1px solid #387df5;
  border-right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.ri-pe-form-pencarian {
  border: 1px solid #387df5;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.3rem 0.85rem;
}

.ri-pe-btn-cari {
  background-color: #387df5;
  color: white;
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0 0.5rem 0.5rem 0;
}

.ri-pe-date {
  min-width: 110px;
  max-width: 9vw;
}

input[type='text']:focus {
  outline: none;
}

.table-responsive.ri-pe > table {
  font-size: 2vw;
}

.table-border-bottom {
  th,
  td {
    border-bottom: 1.5px solid gray !important;
  }
}

.ri-pe-action-btn {
  width: 5vw;
}

@media (min-width: 576px) {
  .table-responsive.ri-pe > table {
    font-size: 1.6vw;
  }

  .ri-pe-action-btn {
    width: 3vw;
  }
}

@media (min-width: 768px) {
  .table-responsive.ri-pe > table {
    font-size: 1.4vw;
  }

  .ri-pe-action-btn {
    width: 2.6vw;
  }
}

@media (min-width: 992px) {
  .table-responsive.ri-pe > table {
    font-size: 1.3vw;
  }

  .ri-pe-action-btn {
    width: 2.9vw;
  }
}
